<%- include('partials/header') %>

<main class="p-12">
  <img
    src="/<%= article.cover %>"
    alt="<%= article.headline %>"
    class="w-36 mx-auto"
  />
  <p class="font-sand text-gray-500 text-3xl font-bold text-center p-4">
    <%= article.headline %>
  </p>
  <p class="text-gray-400 text-center p-2"><%= article.description %></p>
  <p class="text-gray-300 text-center text-lg p-4"><%= article.content %></p>
</main>

<%- include('partials/footer') %>
