<%- include('partials/header') %>

<p class="font-sand mx-auto text-4xl w-[450px] p-5 text-gray-500">
  Explore interesting and captivating articles from writers across the globe.
</p>

<main class="grid grid-cols-4 gap-6 mt-12 p-8">
  <% articles.forEach(article => { %>
  <a href="/articles/<%= article._id %>" class="shadow-lg h-fit p-4 rounded">
    <img
      src="<%= article.cover %>"
      alt="<%= article.headline %>"
      class="rounded-full w-32"
    />
    <p class="font-sand text-gray-500 text-3xl"><%= article.headline %></p>
    <p class="text-gray-400"><%= article.description %></p>
    <div class="flex items-center p-4 gap-1 mt-3">
      <img
        src="<%= article.author.imageURL %>"
        alt="<%= article.author.name %>"
        class="rounded-full w-6 h-6"
      />
      <div>
        <p class="text-xl font-bold font-sand"><%= article.author.name %></p>
        <p class="text-xs text-gray-500 font-bold font-sand">
          @<%= article.author.name %>
        </p>
      </div>
    </div>
  </a>

  <% }) %>
</main>

<%- include('partials/footer') %>
