<%- include('partials/header') %>

<main>
  <p><%= article.headline %></p>
  <p><%= article.description %></p>
  <p><%= article.content %></p>
  <img src="/<%= article.cover %>" alt="<%= article.headline %>" />
</main>
