<%- include('partials/header') %>

<main>
  <% article.forEach(a => { %>
  <p><%= a.headline %></p>
  <p><%= a.description %></p>
  <p><%= a.content %></p>
  <img src="<%= a.cover %>" alt="<%= a.headline %>" />
  <% }) %>
</main>
