<%- include('partials/header') %>

<p>Founders</p>
<p>About Open Articles</p>
<img src="<%= user.imageURL %>" alt="<%= user.username %>" class="rounded-full" />
<p>TwitterID: <%= user.twitterId %></p>
<p>MongoDB ID: <%= user._id %></p>
<p><%= user.username %></p>