<%- include('partials/header'); %>

<p>Founders</p>
<p>About Open Articles</p>
<img
  src="<%= user.imageURL %>"
  alt="<%= user.username %>"
  class="rounded-full"
/>
<p>TwitterID: <%= user.twitterId %></p>
<p>MongoDB ID: <%= user._id %></p>
<p class="font-bold text-5xl"><%= user.username %></p>

<h1>My Articles</h1>
<% userArticles.forEach(article => { %>
<a href="/articles/<%= article._id %>"> <p><%= article.headline %></p></a>
<img src="<%= article.author.imageURL %>" alt="<%= article.headline %>" />
<a href="/profile/articles/update/<%= article._id %>">Edit Article</a>
<% }) %>
