<%- include('partials/header') %>

<p>Now Editing blog with id: <%= article._id %></p>

<form
  action="/articles/<%= article._id %>"
  class="w-96 mx-auto flex flex-col"
  id="update-form"
>
  <label for="headline">Headline:</label>
  <input
    type="text"
    id="headline"
    name="headline"
    value="<%= article.headline%>"
    class="p-2 border border-gray-500 rounded outline-none"
  />

  <label for="content">Content:</label>
  <textarea
    id="content"
    name="content"
    rows="6"
    class="p-2 border border-gray-500 rounded outline-none"
  >
<%= article.content %></textarea
  >

  <input type="submit" value="Update" />
</form>

<script>
  const updateForm = document.querySelector("#update-form");

  updateForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    // Get update values
    const headline = updateForm.headline.value;
    const content = updateForm.content.value;
    const id = updateForm.getAttribute("action").split("/").pop();

    try {
      const res = await fetch(`/${id}`, {
        method: "PATCH",
        body: JSON.stringify({ headline, content }),
        headers: {
          "Content-Type": "application/json",
        },
      });

      const data = await res.json();
      console.log(data);

      // Clear input fields
      updateForm.headline.value = "";
      updateForm.content.value = "";
      location.assign("/");
    } catch (error) {
      console.log(error);
    }
  });
</script>

<%- include('partials/footer') %>
