<%- include('partials/header') %>

<p>Now Editing blog with id: <%= article._id %></p>

<form
  action="/articles/<%= article._id %>"
  class="w-96 mx-auto flex flex-col"
  id="update-form"
>
  <label for="headline">Headline:</label>
  <input
    type="text"
    id="headline"
    name="headline"
    value="<%= article.headline%>"
    class="p-2 border border-gray-500 rounded outline-none"
  />

  <label for="content">Content:</label>
  <textarea
    id="content"
    name="content"
    rows="6"
    class="p-2 border border-gray-500 rounded outline-none"
  >
<%= article.content %></textarea
  >

  <input type="submit" value="Update" />
</form>

<%- include('partials/footer') %>
